
*.xlsx
Publishing/(ISWC)Unificacion.log
Publishing/comparador_excel.log
Publishing/resultado.json
Publishing/historial.log
/eye-contact-correction
Publishing/(ISWC)BusquedaAutor.log
Publishing/(ISWC)BusquedaColaboraciones.log
Publishing/(ISWC)Unificacion_por_autor.log
Publishing/(ISWC_U)BusquedaAutoresUnificados.log
Publishing/resultado_actual.json
Publishing/resultado_actual.json
Publishing/resultado_actual.json
Publishing/resultado_actual.json
